body {
    background-image: url("https://images.unsplash.com/photo-1496950866446-3253e1470e8e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    background-repeat: no-repeat;
    background-position: cover;
    background-size: 100%;
    color: black;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
  }

  /* jumbotron from game_mode.html */
  .gameMode {
    /* Note these dimensions are based off a screen with a width of 1552px */
    background-color: grey;
    color: black;
    /* These positions and dimensions of the w x h for the jumbotron work well for 1552px and up */
    /* Minor-off positioning begins to start at 1800px */
    padding-top: 34px;
    margin-top: 55px;
    margin-left: 400px;
    width: 95vh;
    height: 80vh;
  }

   /* jumbotron from dashboard.html */
  .Dashboard {
    background-color: grey;
    margin-top: 50px;
    width: 55%;
    color: black;
    margin-left: 300px;
  }
     /* jumbotron from clue_page.html */
    .clue_page {
      background-color: grey;
      margin-top: 50px;
      width: 55%;
      color: black;
      margin-left: 300px;
    }

  .map-container-5{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container-5 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

.nameForm{
      display: none;
    }
    /* Add a black background color to the top navigation */
.topnav {
  background-color: gray;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color:gray;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color:lightgray;
  color: white;
}

/* @media dimension groups: min-width: 300px, 768, 992, 1200 */

/* _______________________@media index.html _________________________ */

@media(min-width: 300px) and (max-width: 768px) {

  /* <jumbotron> */
  .gameMode {
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    width: 100vh;
    /* Assuming the smallest screen height is 768px */
    height: 250vh;
  }

  /* Navigation bar */
  .topnav {
    background-color: gray;
    overflow: hidden;
    width: 100vh;
  }

  /* Game Mode Title */
  .gameModeDisplay {
    margin-left: 260px;
  }
  /* <p> Instructions */
  .lead {
    margin-left: 110px;
  }
  /* <h3 Game Code> */
  #gameCodeHeader {
    margin-left: 301px;
  }
  /* <form code> */
  #codeForm {
    margin-left: 260px;
  }
  /* <submit button> */
  .submitButton {
    margin-left: 334px;
  }
  /* <h3 New Game> */
  #newGameHeader {
    margin-left: 188px;
  }
  /* <new game button> */
  .newGame {
    margin-left: 320px;
  }
  /* <h3 Login> */
  #loginHeader {
    margin-left: 337px;
  }
  /* <login button> */
  .login {
    margin-left: 339px;
  }
};


/* __________________________________________________________________________________________________ */
@media(min-width: 768) {
 /* <jumbotron> */
.gameMode {
  /* Assuming the smallest screen height is 768px */
  height: 140vh;
};
};

/* __________________________________________________________________________________________________ */


/* @media(min-width:992px) { */
/* }; */
/* __________________________________________________________________________________________________ */

/* @media(min-width: 1200px) { */
/* }; */




